<a href="https://colab.research.google.com/github/pradipdhale/skillsequel_python_colab/blob/main/Python_operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Comparision Operators

In [ ]:
a = 500
b = 1000
print(a == b)

False

In [ ]:
# Run ---> Shift + Enter

In [ ]:
print(a != b)

True

In [ ]:
c = 100
d = 100
print(c == d)

True

In [ ]:
a = 100
b = 200
print(a<b)
print(a!=b)

True
True

In [ ]:
print((a<b) and (a!=b))

True

In [ ]:
# or operator
a = 50
b = 100
print(a<b)
print(b<a)

True
False

In [ ]:
print((a<b) or (b<a))

True

In [ ]:
# not operator

In [ ]:
print(not(not((a<b) or (b<a))))

True

In [ ]:
# membership operator
name = "hello"
print('n' in name)

False

In [ ]:
print('n' not in name)

True

In [ ]:
# not

a = 1000
b = 2000
print(not(not(a > b)))

False

# List in python

In [ ]:
# list always starts from the square bracket

list1 = [500,600,700,1000]
print(list1)
print(type(list1))

[500, 600, 700, 1000]
<class 'list'>

In [ ]:
list2 = ["hello","hi",700, 500, True, False, 50.98]
print(list2)

['hello', 'hi', 700, 500, True, False, 50.98]

In [ ]:
print(list2[5])

False

In [ ]:
print(list2[1])

hi

In [ ]:
# we can change the element of the list also

In [ ]:
print(list2)

['hello', 'hi', 700, 500, True, False, 50.98]

In [ ]:
# changing the element at index number 5
list2[5] = 1000
print(list2)

['hello', 'hi', 700, 500, True, 1000, 50.98]

# tuple

In [ ]:
tup1 = (500,800,"Hello","How are you!",True)
print(tup1)

(500, 800, 'Hello', 'How are you!', True)

In [ ]:
print(type(tup1))

<class 'tuple'>

In [ ]:
# now we will change the value of the tuple
tup1[3] = "Ganesh"

TypeError: ignored

In [ ]:
# above code is showing the error because we cannot change the values of the tuple