<a href="https://colab.research.google.com/github/pradipdhale/skillsequel_python_colab/blob/main/Python_Continuation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# loops in python

In [ ]:
# print number from 1 to 10
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

1. for loop

In [ ]:
# printing the number from 1 to 100
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
# print number from 1 to 10
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# print number from 1 to 10
for z in range(1,11):
  print(z)

1
2
3
4
5
6
7
8
9
10

# 2. While loop in python

In [ ]:
# Print the number from 1 to 10 using the while loop
i = 1
while(i<11):
  print(i)
  i = i + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a program to print number from 1 to 100 using while loop

In [ ]:
i = 1
while(i<101):
  print(i)
  i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# Break and continue in python

In [ ]:
 # break : break the loop at i = 3
 for i in range(1,11):
   if(i == 3):
     break
   print(i)

1
2

In [ ]:
for i in range(1,11):
  if(i==3):
    break
  print(i)

1
2

# Functions in Python

In [ ]:
def fun1():
  print("Hello India")

In [ ]:
fun1()

Hello India

In [ ]:
fun1()

Hello India

In [ ]:
fun1()

Hello India

In [ ]:
def fun2():
  print("hi")

In [ ]:
fun2()

hi

# Parametrized function

In [ ]:
def add(num1,num2):
  print(num1 + num2)

In [ ]:
add(20,24)

44

In [ ]:
add(100,200)

300

In [ ]:
# write a function which will take two number as the parameter and gives the substraction

In [ ]:
def sub(a,b):
  print(a-b)

In [ ]:
a = int(input("Enter the value of a "))
b = int(input("Enter the value of b "))
sub(a,b)

Enter the value of a 100
Enter the value of b 50
50

In [ ]:
#savita code
def add(num1, num2):
  print(num1+num2)
  
num1 = int(input("Enter the value for the "))
num2 = int(input("Enter the value for the "))

add(num1, num2)

Enter the value for the 40
Enter the value for the 30
70

# OOPs = Object Oriented Programming Concept

In [ ]:
class Test1: # class
  a = 500

obj1 = Test1()   # creating the object
print(obj1.a)

500

In [ ]:
class Test2:
  name = "Python Programming"

obj2 = Test2()
print(obj2.name)

Python Programming

# function inside the class

In [ ]:
class Hello:
  def fun1(self):   # self is default parameter which we have to pass in oops   
    print("Hello India")

obj1 = Hello()
obj1.fun1()

Hello India

In [ ]:
# shabbier
class Hello:
  def fun1(self):
    print("hello india")
    
obj1=Hello()
obj1.fun1()

hello india

In [ ]:
#Function inside the class
class class2():
  def func(self):
    for i in range(1, 101):
      print(i)

object=class2()
object.func()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# constructor in python/oops

In [ ]:
class Hello2:
  def __init__(self):
    print("I will be called automatically")

obj1 = Hello2()

I will be called automatically

In [ ]:
class Constructor():
  def __init__(self):
    i=1
    while(i<101):
      print(i)
      i=i+1
object = Constructor()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
class Hello2:
  def __init__(self):
    print("i will be called automatically")
    
obj1=Hello2()

i will be called automatically